.story-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2Fe04706037e53fde801d09a1763fa9b72.jpg?source=FTChinese&quality=high");
	}

.section-2 
	.section-cover {
	background-image: url("http://i.ftimg.net/picture/1/000057901_piclink.jpg");
	}

.section-3 
	.section-cover {
	background-image: url("http://i.ftimg.net/picture/5/000057905_piclink.jpg");}


.story-footer {
	background-image: url("http://i.ftimg.net/picture/7/000057907_piclink.jpg");
}
.credits {
	background-image: url("http://i.ftimg.net/picture/7/000057907_piclink.jpg");
	}

// Background image shown on 
@media only screen and (max-width: 768px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2Fe04706037e53fde801d09a1763fa9b72.jpg?source=FTChinese&quality=medium");
		}

	.section-2 
		.section-cover {
		background-image: url("http://i.ftimg.net/picture/0/000057900_piclink.jpg");
		}

	.section-3 
		.section-cover {
		background-image: url("http://i.ftimg.net/picture/6/000057906_piclink.jpg");}


	.story-footer {
		background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
	}
	.credits {
		background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
		}
}

@media only screen and (max-width: 736px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2Fe04706037e53fde801d09a1763fa9b72.jpg?source=FTChinese&quality=low")
		}

	.section-2 
		.section-cover {
			background-image: url("http://i.ftimg.net/picture/2/000057902_piclink.jpg");
		}

	.section-3 
		.section-cover {
			background-image: url("http://i.ftimg.net/picture/6/000057906_piclink.jpg");}


	.story-footer {
		background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
	}
	.credits {
			background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
		}
}