.story-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F504952580-overseas-taiwanese-wave-the-kuomintang-party-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXtVcAD5fdPjf33rjhwxt7lhOpiy8UWvpxtozKIRkXFBl?source=FTChinese&quality=highest");
	}

.section-2 
	.section-cover {
	background-image: url("http://i.ftimg.net/picture/1/000057901_piclink.jpg");
	}

.section-3 
	.section-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2F31ca804b1b12b4d5648a2aec0d3f9c42.jpg?source=tes&quality=high");}


.story-footer {
	background-image: url("http://i.ftimg.net/picture/7/000057907_piclink.jpg");
}
.credits {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=FTChinese&quality=highest");
	}

// Background image shown on 
@media only screen and (max-width: 768px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F504952580-overseas-taiwanese-wave-the-kuomintang-party-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXtVcAD5fdPjf33rjhwxt7lhOpiy8UWvpxtozKIRkXFBl?source=FTChinese&quality=medium");
		}

	.section-2 
		.section-cover {
		background-image: url("http://i.ftimg.net/picture/0/000057900_piclink.jpg");
		}

	.section-3 
		.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2F31ca804b1b12b4d5648a2aec0d3f9c42.jpg?source=tes&quality=medium");}


	.story-footer {
		background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
	}
	.credits {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=FTChinese&quality=medium");
		}
}

@media only screen and (max-width: 736px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F504952580-overseas-taiwanese-wave-the-kuomintang-party-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXtVcAD5fdPjf33rjhwxt7lhOpiy8UWvpxtozKIRkXFBl?source=FTChinese&quality=low")
		}

	.section-2 
		.section-cover {
			background-image: url("http://i.ftimg.net/picture/2/000057902_piclink.jpg");
		}

	.section-3 
		.section-cover {
			background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fimages%2F2016%2F01%2F31ca804b1b12b4d5648a2aec0d3f9c42.jpg?source=tes&quality=low");}


	.story-footer {
		background-image: url("http://i.ftimg.net/picture/8/000057908_piclink.jpg");
	}
	.credits {
			background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=FTChinese&quality=low");
		}
}